aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
blinker
certifi
charset-normalizer
click
exceptiongroup
Flask
frozenlist
greenlet
h11
httpcore
httpx
idna
itsdangerous
Jinja2
jsonpatch
jsonpointer
langchain
langchain-core
langchain-text-splitters
langsmith
MarkupSafe
multidict
ollama
orjson
packaging
propcache
pydantic
pydantic_core
PyMuPDF
PyPDF2
PyYAML
requests
requests-toolbelt
sniffio
SQLAlchemy
tenacity
typing_extensions
urllib3
Werkzeug
yarl
numpy
fitz
Flask==2.2.2
Flask-Cors==3.1.1
fitz==1.18.5
langchain==0.1.0
ollama==0.1.0
